.impact-container {
    width: 100%;
    height: auto;
}

.impact {
    width: 1184px;
    height: auto;
    margin: auto;
    padding: 64px 0 64px 0;
}

.impactRow {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.line2 {
    position: static;
    width: 79px;
    height: 0px;
    left: 0px;
    top: 60px;
    border: 2px solid #E4A13C;
    margin: 24px 0;
}

.impactInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    line-height: 30px;
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 64px;
}

.impactImage {
    position: static;
    width: 373px;
    height: 207px;
    left: 0px;
    top: 0px;
    border-radius: 0px 32px;
    flex: none;
    order: 0;
    align-self: center;
    margin: 33px 0px;
    object-fit: cover;
}

.impactImage2 {
    object-position: 0 35%;
}
.impacts {
    width: 100%;
    border-radius: 0 32px 32px 32px;
    height: auto;
    background-color: #F1F1F1;
    padding: 64px;
}

.two-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item1 {
    order: 1;
    width: 47%;
}
.item2 {
    order: 2;
    width: 47%;
}