
.purple{
    color: #A8177F;
}

.colored-box{

    flex-direction: column;
    width: 450px;
    height: 633px;
    background: #E4A13C;
    margin-left: 98px;
    padding: 64px;
    border-top-right-radius: 32px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}



.news{
    display: flex;
    flex-direction: row;
    margin: 64px 128px 64px 128px;
}

.aye{
    position: static;
    width: 636px;
    height: 522px;
    left: 128px;
    top: 119.5px;
    flex: none;
    order: 0;
    align-self: center;
    
}

.linebreak {
    margin-bottom: 32px;
}
.linebreak-small {
    margin-bottom: 16px;
}
input{
    margin-bottom: 1rem;
}
.custom-input {
    background-color: #ffffff !important;
    width: 100% !important;
    margin-left: 0 !important;
    margin-bottom: 24px !important;
}