/* CONTAINER */

.home {
    height: auto;
    background-color: #d4dfec;
    padding-bottom: 150px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1184px;
    margin-right: auto;
    margin-left: auto;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    justify-content: top;
    margin-top: 64px;
}


/* LEFT COLUMN */

.info {
    width: 90%;
    margin-top: 30px;
    font-size: 22px;
}

.learn {
    width: 149px;
    height: 48px;
    background-color: #a8177f;
    border-radius: 99px;
    border: none;
    color: #ffffff;
    font-size: 18px;
    margin-top: 30px;
}

/* IMAGES */

.woman {
    width: 100%;
    height: auto;
    border-top-right-radius: 32px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}

.family {
    position: absolute;
    width: auto;
    height: 245px;
    border-top-right-radius: 32px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    top: 460px;
    left: 35%;
}


@media (max-width: 1337px) {

    .family {
        display: none;
    }

}