

.menuButton {
    margin-right: 2px;
}

.title {
    flex-grow: 1;
    font-weight: bold !important;
    color: #2F65A5;
    font-size: 40px !important;
    font-family: "Poppins", sans-serif !important;
    margin-left: 50px !important;
}

.bar {
    height: 128px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    box-shadow: none !important;
}

.donate {
    height: 50px;
    width: 170px;
    color: white;
    background-color: inherit;
    padding: 7px;
    border: 2px solid #2F65A5;;
    border-radius: 99px;
    color: #2F65A5;
    font-size: 18px;
    font-weight: bold;
}

.navButton {
    color: #2F65A5 !important;
    font-weight: bold !important;
    margin-right: 20px !important;
    font-size: 18px !important;
    font-family: 'Open Sans', sans-serif !important;
    height: 100%;
    background-color: inherit;
    border: none;
    padding: 10px;
}

.donate:hover {
    transition: 0.5s ease-in-out;
    color: #ffffff !important;
    cursor: pointer;
    border: 2px solid #ffffff;
}

.navButton:hover {
    transition: 0.5s ease-in-out;
    color: #ffffff !important;
    cursor: pointer;
}